pkgbase = neoport
	pkgver = 1.0.2
	pkgrel = 1
	arch = x86_64
	arch = i686
	arch = ARM
	license = GPL
	makedepends = autoconf
	makedepends = automake
	makedepends = binutils
	makedepends = bison
	makedepends = fakeroot
	makedepends = file
	makedepends = findutils
	makedepends = flex
	makedepends = gawk
	makedepends = gcc
	makedepends = gettext
	makedepends = grep
	makedepends = groff
	makedepends = gzip
	makedepends = libtool
	makedepends = m4
	makedepends = make
	makedepends = pacman
	makedepends = patch
	makedepends = pkgconf
	makedepends = sed
	makedepends = sudo
	makedepends = texinfo
	makedepends = which
	depends = git
	provides = neoport
	source = neoport
	md5sums = SKIP

pkgname = neoport

